.fileUpload{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.fileUpload + label{
    background-color: #D9534F;
    padding: 0;
    max-width: 80%;
    color: #EEEEEE;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    margin: 10px;
    color: white;
    border-radius: 5px;
}
.fileUpload + label > span{
    font-size: 14px;
    line-height: 2.4;
    color: #555;
    background-color: #F2F2F2;
    background-image: none;
    border: 1px solid #DADADA;
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    padding-top: 3px;
    height: 38px;
}

.fileUpload + label > strong{
    display: inline-block;
    padding: 10px;
}